@font-face {
    font-family: "indie";
    src: url("../../Assets/Fonts/Inder-Regular.ttf");
}

.video-screen {
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    transition: 1s ease-in-out;
    opacity: 1;
    .fade-out {
        opacity: 0;
    }
    .video-x {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 90%;
        .video-y {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 80%;
            #x-button {
                display: flex;
                height: 5%;
                width: 100%;
                justify-content: right;
                .x-button-styles {
                    transition: ease-in-out .5s;
                }
                .x-button-styles:hover {
                    filter: brightness(0) saturate(100%) invert(9%) sepia(91%) saturate(2271%) hue-rotate(332deg) brightness(105%) contrast(100%);
                    cursor: pointer;
                }
            }
            .video {
                display: flex;
                height: 90%;
                width: 100%;
            }
        }
    }
}

.fade-out {
    opacity: 0;
}