@font-face {
  font-family: "indie";
  src: url("../../../Assets/Fonts/Inder-Regular.ttf");
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut 2.5s ease forwards;
}

.sub-main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  animation: 1.5s fadeIn ease forwards; /* Apply the fadeIn animation */
}
.sub-main .declaration {
  color: white;
  font-family: "indie";
}
.sub-main .declaration #title {
  font-size: 3em;
  letter-spacing: 5px;
}
.sub-main .declaration #description {
  font-size: 0.75em;
}
.sub-main .sub-content {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
}
.sub-main .sub-content #strip-sizing-x {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  width: 100%;
}
.sub-main .sub-content #strip-sizing-x #strip-sizing-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100%;
  border: solid white 2px;
}